$main: rgba(236, 236, 236, 1); //background
$accent: rgba(158, 170, 15, 1);  

$white: rgb(255, 255,255);
$dark: rgba(0, 0, 0, 1);

// 
//==
$navbatton-background: #e3e3e3;
// rgba(227, 227, 227, 1)
$button-beckground: #d5d6d4;
// rgba(213, 214, 212, 1)
//==

// Text colors
$text-main: $dark;
$text-accent: $accent;
$text-inverse: $white;
$text-social: rgba(64, 181, 234, 1);
