.main-nav {
    position: absolute;
    top:0;
    left: 100%;
    right: 0;
    max-width: 500px;
    margin-left: auto;
    margin-top: 0;
    background: darken($main, 9%);
    font-size: 1.2rem;
    overflow: hidden;
    transition: all ease-in-out 250ms;
    z-index: 20;

    @media (min-width: 725px) {
        margin-top: 65px;
        position: relative;
        flex: auto;
        background: none;
        left: 0;
    }

    @media (max-width:725px) {
        max-width: 730px;
    }

    ul {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 70px;
        padding-left: 0;
        height: 100vh;
        text-align: center;

        @media(min-width: 725px) {
            flex-direction: row;
            height: auto;
        }

        &::after {
            content: '';
            position: absolute;
            top: 45px;
            display: block;
            width: 100%;
            height: 3px;
            background-color: $accent;

            @media (max-width: 725px) {
                background-color: transparent;
            }
        }
    }
    
    

    li {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        background-color: darken($main, 9%);
        border-radius: 3px;
        border-bottom: 1px solid rgba(0, 0, 0, .15);

        @media (min-width: 725px) {
            flex: 0 1 95px;
            border: none;
            text-align: center;
        }

        &::after {
            content: '';
            position: absolute;
            top: 30px;
            left: 41%;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 12px solid transparent;
        }
        &:hover::after {
                border-bottom: 12px solid $white;
            }
    }

    a {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 600;
        color: $dark;
        text-decoration: none;
        
        @media (min-width: 725px) {
            display: inline;
            line-height: 2.2;
        }

        &:hover {
            color: $text-inverse;

            @media (min-width: 725px) {
                background: none;
            }
        }
    }

    &.is-open {
        left: 0;
    }
}

// Hamburger menu

.nav-toggle {
    display: block;
    padding: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;
    z-index: 30;

    @media (min-width: 725px) {
        display: none;
    }
}

.hamburger, .hamburger::before, .hamburger::after {
    content: '';
    display: block;
    width: 2em;
    height: 3px;
    background: $white;
    transition: all ease-in-out 250ms;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.hamburger.is-open {
    transform: rotate(45deg);

    &::after{
        transform: rotate(-90deg) translateX(3px);
    }

    &::before {
        opacity: 0;
    }
}


